{%  extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ participant.pseudo }} {% endblock %}

{% block main %}
    <div class="text-center">
    <h1>{{ participant.pseudo }}</h1>
        <div>
            <label for="prenom">Prénom : {{ participant.prenom }}</label>
        </div>
    <div>
        <label for="nom">Nom : {{ participant.nom }}</label>
    </div>
    <div>
        <label for="telephone">Téléphone : {{ participant.telephone }}</label>
    </div>
    <div>
        <label for="">Email : {{ participant.email }}</label>
    </div>
    <div>
        <label for="">Campus : {{ participant.campus.nom }}</label>
    </div>
    <div>
        <a href="{{ path("sorties_display") }}"><button class="btn btn-info " type="button" name="Retour">Retour</button></a>
    </div>
    </div>

{% endblock %}


