{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Campus{% endblock %}
{% block stylesheets %}{{ parent() }}<link rel="stylesheet" href="{{ asset("css/app.css") }}">{% endblock %}

{% block main %}
<h1>Gérer les campus</h1>
<h2>Filtrer les sites</h2>
<div id="table"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include("./includes/react-jsx.html.twig") %}
    <script type="text/babel" src="{{ asset("jsx-react/Campus.js") }}"></script>
{%  endblock %}