<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand home" href="{{ path("sorties_display") }}">Sortir.com</a>
    {% if app.user %}
    <ul class="navbar-nav ml-auto d-none d-sm-flex">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("app_register") }}">Enregistrer un nouvel utilisateur</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path("villes_display") }}">Villes</a>
                    <a class="dropdown-item" href="{{ path("campus_display") }}">Campus</a>
                </div>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path("sorties_display") }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("participant_persist") }}">Mon Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_logout") }}">Se déconnecter</a>
        </li>
    </ul>
    {% endif %}
</nav>